<a href="https://colab.research.google.com/github/mryamstfa/Clinic-website/blob/main/Task1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [34]:
import pandas as pd
import numpy as np
file_path = '/content/sample_data/House_Prices.csv'
df = pd.read_csv(file_path)
#retrieve on null values and count each col
missing_vals = ["NA", "",None, np.NaN]
missing = df.isin(missing_vals)
pd.isnull(df).sum()

ADDRESS                 0
SUBURB                  0
PRICE                   0
BEDROOMS                0
BATHROOMS               0
GARAGE               2478
LAND_AREA               0
FLOOR_AREA              0
BUILD_YEAR           3155
CBD_DIST                0
NEAREST_STN             0
NEAREST_STN_DIST        0
DATE_SOLD               0
POSTCODE                0
LATITUDE                0
LONGITUDE               0
NEAREST_SCH             0
NEAREST_SCH_DIST        0
NEAREST_SCH_RANK    10952
dtype: int64

In [35]:
#if % is small handle nulls with mean
total_missing = df.isnull().sum().sum()
total_cells = df.size
missing_percentage = (total_missing / total_cells) * 100
print(f"Total percentage: {missing_percentage:.2f}%")

#mean is filling...
dfm = df.select_dtypes(include=np.number)
fillmean = dfm.mean()
df[dfm.columns] = dfm.fillna(fillmean)
print("Missing values filled with means.")

#remove duplication
df.drop_duplicates(inplace=True)
print("remove is completed.")

cleaned_filepath = '/content/clean_HousePrices.csv'
df.to_csv(cleaned_filepath, index=False)
print(f" dataset changed saved as {cleaned_filepath}")

Total percentage: 2.59%
Missing values filled with means.
remove is completed.
 dataset changed saved as /content/clean_HousePrices.csv